# Can ignore specific files
aapt
.properties
-resources

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/* 
res-final/
bin/
libs/


#JAVA_HOME=/usr/local/jdk1.6.0_32

